.dropDownDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex: 1; */
    width: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}
.dropDownDiv > button{
    width: 100%;
}
.dropDownMain{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    transition:all ease-in-out 0.2s;
    position: absolute;
    top: 21px;
    left: 0;
    box-sizing: border-box;
    
}
.dropDownMain.close{
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}
.dropDownMain.open{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
ul{
        list-style: none;
    padding: 0;
    text-align: left;
}
li{
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}